* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --RuddyBlue: #6CACE4;
  --WhiteSmoke: #F5F5F5;
  --SelectiveYellow:#F6B50E;
  --EerieBlack: #1F1F1F;
  --Font: 'Fira Code', monospace;
  /* font-weight 300 and 500 */
}
.mainContainerLogo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.logoArgentapi{
  width: 50px;
}
.titleLogo { 
  font-family: var(--Font);
  font-size: 1.5rem;
}
/* ----------Mediaqueries----------- */
@media (max-width: 768px) {
  .titleLogo {
    font-size: 1.2rem;
  }
  .logoArgentapi {
    width: 40px;
  }
}
